$text-color: white;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url('/400-90-5.png');
  background: #20262e;
  // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: $text-color;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  border-radius: 4px;
  transition: all 0.2s;
  overflow: visible;
}

.intro {
  display: inline-block;
  margin: 0;
  max-width: 370px;
}

.form {
  margin: 20px;
}

#what {
  animation: expandOut 1s 0.5s ease-out both;
  @keyframes expandOut {
    from { min-width: 0; }
    to { min-width: 120px; }
  }
}

.enter-listener {
  // position: absolute;
  // bottom: 300px;
  // left: 50%;
  // transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 12px;
  display: none;

  .enter-listener-key {
    padding: 5px 20px;
    border: 1px solid $text-color;
    border-radius: 4px;
  }

  animation: fadeIn 1s 5s both;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  &:hover {
    animation: none;
    opacity: 1;
  }

  &.active {
    display: block;
  }
}

.typewriter-text {
  position: relative;
  &.typing:after {
    content: "";
    border-left: 1px solid $text-color;
    position: absolute;
    right: 0;
    height: 1em;
    top: 0.25em;

    animation: blinkTextCursor 500ms steps(2) infinite;
    @keyframes blinkTextCursor {
      from { opacity: 0.2; }
      to { opacity: 1; }
    }
  }
}

.entry {
  min-width: 120px;
  display: inline-block;
  border: none;
  margin-top: 2px;
  border-bottom: 2px solid $text-color;
  background: transparent;
  color: $text-color;
  font-family: inherit;
  // font-family: Helvetica;
  font-size: 1em;
}

.divider {
  position: relative;
  margin: 20px auto;
  max-width: 992px;
  transition: opacity 0.5s, top 0.5s;
  overflow: hidden;

  &:not(.visible) {
    opacity: 0;
    top: 20px;
  }

  &.visible {
    opacity: 1;
    top: 0;
  }
}

.sticky-header {
  position: sticky;
  top: 0;
}

.divider-what {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: font-size 0.1s;

  &.passed {
    font-size: 18px;
    border-bottom: 1px solid $text-color;
    background: white;
    height: auto;
  }

  &.active {
    font-size: inherit;
  }

  .period {
    animation: comeIn 0s 4s step-end both;
    @keyframes comeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  }
}

.sticky-header-what ~ .divider {
  margin-top: 50px;
}