$text-color: #323436;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/400-90-5.png');
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 24px;
  color: $text-color;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  border-radius: 4px;
  transition: all 0.2s;
  overflow: visible;
}

.intro {
  display: inline-block;
  margin: 0;
  padding-top: 25vh;
  max-width: 370px;
}

.content {
  margin-right: 400px;
  margin-left: 400px;
  height: 100%;
}

.divider-intro {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    // background-image: url('https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=935&w=1920');
    // background-image: url('https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=935&w=1920');
    // background-image: url('https://images.pexels.com/photos/395198/pexels-photo-395198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=935&w=1920');
    // background-image: url('https://images.pexels.com/photos/262367/pexels-photo-262367.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920');
    background:
      linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0)),
      url("https://images.pexels.com/photos/262367/pexels-photo-262367.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920");
    background-size: cover;

    animation: fadeIn 2s 4s both;
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  }
}

#what {
  animation: expandOut 1s 2.5s ease-out both;
  @keyframes expandOut {
    from { min-width: 0; }
    to { min-width: 120px; }
  }
}

.enter-listener {
  // position: absolute;
  // bottom: 300px;
  // left: 50%;
  // transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 12px;
  display: none;

  .enter-listener-key {
    padding: 5px 20px;
    border: 1px solid $text-color;
    border-radius: 4px;
  }

  animation: fadeIn 1s 5s both;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  &:hover {
    animation: none;
    opacity: 1;
  }

  &.active {
    display: block;
  }
}

.typewriter-text {
  position: relative;
  &.typing:after {
    content: "";
    border-left: 1px solid $text-color;
    position: absolute;
    right: 0;
    height: 1em;
    top: 0.25em;

    animation: blinkTextCursor 500ms steps(2) infinite;
    @keyframes blinkTextCursor {
      from { opacity: 0.2; }
      to { opacity: 1; }
    }
  }
}

.entry {
  min-width: 120px;
  display: inline-block;
  border: none;
  margin-top: 2px;
  border-bottom: 2px solid $text-color;
  background: transparent;
  color: $text-color;
  font-family: inherit;
  // font-family: Helvetica;
  font-size: 1em;
}

.divider {
  position: relative;
  height: 100vh;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.divider-what {
  position: sticky;
  top: 0;
  margin-top: 50vh;
  margin-bottom: calc(50vh);
  z-index: 1;
  min-height: 50px;
  transition: font-size 0.1s;

  &.passed {
    font-size: 18px;
    border-bottom: 1px solid $text-color;
    background: white;
    height: auto;
  }

  &.active {
    font-size: inherit;
  }

  .content {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .period {
      animation: comeIn 0s 4s step-end both;
      @keyframes comeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }
    }
  }
}

.sticky-header-what ~ .divider {
  margin-top: 50px;
}